body{
}

.wrapper{
	display: grid;
	grid-gap: 5px;

	grid-template-columns: repeat(5, [columna] 1fr);
	grid-template-rows: repeat(3, [fila] auto);
}

.box{
	margin: 2px;
	padding: 5px;
	color: white;
	background-color: #444; 
	border-radius: 5px;
}

.uno{
	grid-column: 1/2;
	grid-row: 1/2;
}

.dos{
	grid-column: 2/3;
	grid-row: 1/2;
}

.tres{
	grid-column: 3/4;
	grid-row: 1/2;
}

.cuatro{
	grid-column: 3/5;
	grid-row: 1/3;
}

.cinco{
	grid-column: 1/2;
}

.seis{
	grid-column: 2/3;
	grid-row: 2/4;
	clear: both;
}

.siete{
	grid-column: 1/2;
	grid-row: 3/4;
}

.ocho{
	grid-column: 3/4;
	grid-row: 3/4;
}

.nueve{
	grid-column: 4/4;
	grid-row: 3/4;
}