body{
	background-color: white;
	padding: 10px;
	width: auto;
	border: 3px solid darkcyan;
}

.wrapper{
	display: grid;
	grid-gap: 20px;

	grid-template-columns: repeat(3, [columna] 1fr);
	grid-template-rows: repeat(4, [fila] auto);
}

.header{
	grid-column: 1/4;
	clear: both;

	margin: 2px;
	padding: 5px;
	background-color: lightyellow;
	border: 3px solid orange; 
	border-radius: 5px;
}

.nav{
	grid-column: 1/4;

	margin: 2px;
	padding: 5px;
	background-color: lightyellow;
	border: 3px solid orange; 
	border-radius: 5px;
}

.sidebar{
	grid-column: 1/2;

	margin: 2px;
	padding: 5px;
	background-color: lightyellow;
	border: 3px solid orange; 
	border-radius: 5px;
}

.content{
	grid-column: 2/4;

	margin: 2px;
	padding: 5px;
	background-color: lightyellow;
	border: 3px solid orange; 
	border-radius: 5px;
}

.adv{
	grid-column: 1/2;

	margin: 2px;
	padding: 5px;
	background-color: lightyellow;
	border: 3px solid orange; 
	border-radius: 5px;
}

.footer{
	grid-column: 2/4;

	margin: 2px;
	padding: 5px;
	background-color: lightyellow;
	border: 3px solid orange; 
	border-radius: 5px;
}