body{
	margin: 40px;
}

.wrapper{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, [columna] 1fr);

	/*Definimos ZONAS*/
	grid-template-areas: "....... cabecera cabecera"
						 "lateral contenido contenido"
						 "pie pie pie";
	/*Terminamos de definir ZONAS*/
	
	background-color: #fff;
	color: #444;
}

.box{
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	font-size: 150%;
}

.cabecera{
	/*Usando las ZONAS*/
	grid-area: cabecera;
	background-color: #999;
}

.lateral{
	/*Usando las ZONAS*/
	grid-area: lateral;
}

.contenido{
	/*Usando las ZONAS*/
	grid-area: contenido;
}

.pie{
	/*Usando las ZONAS*/
	grid-area: pie;
	background-color: #999;
}