body{
	margin: 40px;
	font-family: 'Open Sans', 'sans-serif;';
	background-color: #fff;
	color: #444;
}

h1, p{
	margin: 0 0 1em 0;
}

.sidebar{
	float: left;
	width: 20%;
}

.content{
	float: right;
	width: 80%;
}

.wrapper{
	max-width: 940px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 10px;
}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.header, .footer{
	grid-column: 1 / -1;
	clear: both;
}

@supports (display: grid){
	.wrapper > *{
		width: auto;
		margin: 0;
	}
}