#contenedor {
	padding: 20px;
    margin: auto;
    border: 1px solid black;
    width: 80%;
}

p{
float: left;
width: 25%;
padding: 5px;
margin: 1.2em;
border:1px solid red;
}

.reseteo{
	clear:both;
}
